<!DOCTYPE html>
<html lang="en">
  <head>
  {% include head.html %} 
  <title>{{ page.curriculum }}-Unit {{ page.num }}-{{page.name}} </title>

  </head>
  <body id="page-top">
    <div id="container" data-role="page">
    {% include nav.html %}
    <div id="content"  class="ui-content">
      <h1>{{ page.curriculum }}-Unit&nbsp;{{ page.num }}-{{page.name}}</h1>
      <h2>Summary</h2>
      <p>{{ page.summary }}</p>

<h2>Topics</h2>
<ul>
{% for topic in page.topics %}
<li>{{ topic }}</li>
{% endfor %}
</ul>

<h2>Learning Objectives</h2>
<ul>
{% for lo in page.learning_objectives %}
<li>{{ lo }}</li>
{% endfor %}
</ul>

<h2 id="uc-ag" name="uc-ag">UC a-g application information</h2>
<h3>Summary</h3>
{{ page.uc_ag_summary}}
<h3>Key Assignment</h3>
{{ page.uc_ag_assignment}}


{% if page.topicArticles %}
<div class="topicArticles">
  <h3>Related Topic Articles</h3>
  <ol>
    {% for t in page.topicArticles %}
       <li data-topic="{{t}}">{{t}}</li>
    {% endfor %}
  </ol>
</div>
{% endif %}



{{ content }}
    </div><!-- content -->
    {% include footer.html %}
    </div><!-- container -->
  </body>
</html>




